# React
frontend/node_modules
frontend/build

# Spring Boot
backend/target

# IDE
.idea
.vscode

# Logs
*.log

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Maven Wrapper (optional)
!.mvn/wrapper/maven-wrapper.jar